#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #FFFFFF;
    border-bottom: 1px solid #979797;

}

#navbar li {
    float: right;
    font-family: AvenirNext-Medium;
    font-size: 2vw;
    color: #000000;
}

#navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    text-decoration: underline;
}

#navbar a.active{
    text-decoration: underline;
}

.pf{
    float: left;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    align-content: flex-start;
}

#fancybody {
    position: absolute;
    font-family: AvenirNext;
    font-size: 5vw;
    color: #000000;
    text-decoration: none;
}

#rightpic {
    position: relative;
    float: right;
    top: 5vw;
}

.teampic {
    float: right;
}

#wtf {
    position: relative;
    top: 5vw;
}

#wtftitle {
    font-family: AvenirNext-Bold;
    font-size: 3vw;
    color: #000000;
    margin-left: 25px;
}

#wtfbody {
    font-family: AvenirNext-Medium;
    font-size: 2vw;
    color: #000000;
    margin-left: 25px;
}

#schedpic1 {
    position:absolute;
    top: 5%;
    right:5%;
    border: 1px solid black;
}

#steps {
    padding: 3%;
    position: absolute;
    left: 0;
    right: 0;
    height: 30vw;
    top: 63vw;
    background-color: #F2F2F2;
}

#stepstitle {
    font-family: AvenirNext-Bold;
    font-size: 3vw;
    color: #000000;
    right: 25px;
    top: 698px;
}

#stepsbody {
    font-family: AvenirNext-Medium;
    font-size: 2vw;
    color: #000000;
    float: right;
    top: 700px;
    clear: both;
}
#schedpic2 {
    max-height: 55%;
    max-width: 65%;
    position: absolute;
    left: 12px;
    top: 50px;
    border: 1px solid black;
    clear: both;
}

#wait {
    font-family: AvenirNext-Medium;
    font-size: 2vw;
    color: #000000;
    clear: both;
    margin-left: 3%;
    height: 26vw;
    width: 40%;
}

#next {
    font-family: AvenirNext-Bold;
    font-size: 3vw;
    color: #000000;
    clear: both;
    margin-left: 3%;
    line-height: normal;
}
#schedpic3 {
    position:absolute;
    top: 25px;
    right:50px;
    border: 1px solid black;
    float: right;
}
#bottom {
    position: absolute;
    top: 100vw;
    right: 0;
    height: 40vw;
    left: 0;
    overflow: hidden;
}
#title {
    font-family: AvenirNext-Medium;
    font-size: 36px;
    color: #000000;
}

#bio1{
    background: #F2F2F2;
    border: 1px solid #979797;
    width: 100%;
    height: 350px;
}

#Stats{
    font-family: AvenirNext-Medium;
    font-size: 14px;
    color: #000000;
    float: left;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 50px;

}

.pic {
    float: left;
    padding-left: 15px;
    padding-top: 10px;
}

#hobby {
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 20px;
    left: 100px;
    font-family: AvenirNext-Medium;
    font-size: 16px;
    color: #000000;
    text-align: left;
}

#bio2 {
    float: left;
    background: #F2F2F2;
    border: 1px solid #979797;
    width: 100%;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#bio3 {
    float: left;
    background: #F2F2F2;
    border: 1px solid #979797;
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}

.devinpic {
    float: left;
    padding-left: 35px;
    padding-top: 10px;
    padding-right: 60px;
}

#connect {
    float: right;
}

#introduction{
    font-family: AvenirNext-medium;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}
audio {
   display:none;
}

#download {
    float: right;
    padding-right:5%;
    padding-top: 30px;
    width: 40%
}
#download a{
    text-decoration: none;
    font-family: AvenirNext-Medium;
    font-size: 2vw;
    color:black;
    border-spacing: 5%;
    float: left;
}
#download a:hover{
    text-decoration: underline;
}

#title2 {
    width: 50%;
    padding-top: 20px;
    float: left;
    font-size: 2vw;
}

html, body {
    height: 100%;
    width: 100%;
}